<footer class="footer">
    <small>
        Mejor que <a href="http://www.twitter.com/"> Twitter</a> en muchos aspectos
        by Jorge Cisneros
    </small>
      <nav>
          <ul>
              <li> <%= link_to "Acerca de", '#' %></li>
              <li> <%= link_to "Inicio", '#' %></li>
              <li> Hazte Chollower</li>
          </ul>
      </nav>    
</footer>